<h2>All Players</h2>
<select (change)="onChange($event.target.value)">
  <option value="" selected="selected">All Players</option>
  <option value="Damage">Damage</option>
  <option value='Tank'>Tank</option>
  <option value="Healer">Healer</option>
  <option value="Support">Support</option>
</select>
<br>
<div *ngFor="let player of players | async | roles:roleFilter" class="panel panel-default">
  <div class="panel-body">
    <img src="{{player.imageURL}}" class='logo' alt="">
    <h3 (click)="goPlayerDetail(player)">{{player.name}}</h3>
    <h5><em>Character: {{player.character}}</em></h5>
    <h5>{{player.role}}</h5>
    <div *ngIf="currentRoute === '/admin/new'">
      {{player.rank}}
      <hr>
      <app-edit-player [selectedPlayer]='player'></app-edit-player>
    </div>
  </div>
</div>
