<h3>Add Player</h3>
<div>
  <div>
    <label>Name</label>
    <br>
    <input #newName>
  </div>
  <div>
    <label>Character Name</label>
    <br>
    <input #newCharacter>
  </div>
  <div>
    <label>Rank</label>
    <br>
    <select #newRank>
      <option value='Member'>Member</option>
      <option value='Officer'>Officer</option>
      <option value='Leader'>Leader</option>
    </select>
  </div>
  <div>
    <label>Role</label>
    <br>
    <select #newRole>
      <option value='Damage'>Damage</option>
      <option value='Tank'>Tank</option>
      <option value='Healer'>Healer</option>
      <option value='Support'>Support</option>
    </select>
  </div>
  <div>
    <label>ImageURL</label>
    <br>
    <input #newImage>
  </div>
  <button (click)="submitForm(newName.value, newCharacter.value, newRank.value, newRole.value, newImage.value='../../../assets/img/headshot-generic.png'); newName.value = '';newCharacter.value = '';newRank.value = '';newRole.value = '';newImage.value = '';">Add</button>
</div>

<div>
  <app-player-list></app-player-list>
</div>
