<div>
  <img src="{{(foundPlayer | async)?.imageURL}}" class='logo' alt="">
  <h3>Name: {{(foundPlayer | async)?.name}}</h3>
  <h4>Role: {{(foundPlayer | async)?.role}}</h4>
  <p>Rank: {{(foundPlayer | async)?.rank}}</p>

  <h3>Bio</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, similique asperiores cupiditate dolore quis ea eveniet eius error quod sunt ipsam dolorem repudiandae earum, ipsum odio laborum sapiente! Amet, cumque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus reprehenderit, incidunt velit dignissimos fugit porro nobis dicta soluta labore impedit quidem aperiam nam laboriosam ratione, accusantium natus quos magnam laborum!</p>
</div>
